*{
  padding: 0;
  margin: 0;
}
.body{
  background-color: #141414;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box{
  background-color: #1F1F1F;
  width: 400px;
  height: 550px;
  margin:30px auto;
  text-align: center;
  border-radius: 10px;
}
.details{
  background-color: transparent;
}
.picture{
  background-color: transparent;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    margin-top: 30px;
 
}
/* div {
  margin: 0;
  padding: 0;
} */
span.uyo{
  display: inline-block; 
  color: #c4f82a;
 margin: 10px 130px;
}
 div .favour{
  display: inline-block;
  color: white;
  margin-top: 30px;
  
}
span.reader{
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

.border{
    border: 1px solid #333333;
    background-color: #333333;
    margin: 3% 60px 4% 60px;
    width: 70%;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.border:hover{
  background-color: #33333342;
}

